# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_36KEY_LEFT
   def_bool $(shields_list_contains,36key_left)

config SHIELD_36KEY_RIGHT
   def_bool $(shields_list_contains,36key_right)
